$content-width: 730;

.user-text {
  & > p {
    @include text-default-charter;
    margin-bottom: rem(16);

    &.text-lead {
      @include text-lead-charter;
    }
  }

  & > h2 {
    @include h2;
    margin-top: rem(48);
    margin-bottom: rem(16);
  }

  & > h3 {
    @include h3;
    margin-top: rem(40);
    margin-bottom: rem(16);
  }

  b {
    font-family: $ff-montserrat;
    font-size: rem(19);
    font-weight: 700;
    line-height: 1.5;

    @include media-breakpoint-down(sm) {
      font-size: rem(15);
    }
  }

  & > p a,
  & > a {
    color: $color-blue;
    @include line-animate-over(rgba($color-blue, 0.3), rgba($color-blue, 1), 0.06em);
  }

  figcaption {
    @include text-default;
    margin-top: rem(16);
    max-width: rem($content-width);
  }

  figure {
    img {
      width: 100%;
      max-width: 100%;
    }

    &.is-native {
      img {
        width: auto;
      }
    }
  }

  figure,
  & > img {
    max-width: rem(990);
    width: 100%;
    margin-top: rem(48);
    margin-bottom: rem(48);
    display: block;

    &.is-wide {
      max-width: 100%;
    }

    &.is-narrow {
      max-width: rem($content-width);
    }

    &.is-native {
      max-width: 100%;
      width: auto;
    }
  }

  .photo-slider {
    max-width: rem(990);
    margin-top: rem(48);
    margin-bottom: rem(48);
  }

  .photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(990);
    margin: rem(48 - 24) rem(-24);

    @include media-breakpoint-down(sm) {
      display: block;
      margin: rem(48) 0;
    }

    > * {
      padding: rem(24);
      width: 50%;
      margin: 0;

      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: rem(32);
        }
      }
    }
  }

  ul,
  ol {
    @include text-default-charter;
    margin-top: rem(48);
    margin-bottom: rem(48);

    li {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding-left: rem(40);

      &::before {
        content: '—';
        position: absolute;
        left: 0;
      }
    }
  }

  ol {
    padding-left: rem(40);
  }

  .list-title {
    & + ul,
    & + ol {
      margin-top: 0;
    }
  }

  .around {
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }

  > * {
    max-width: rem($content-width);

    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
