@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes shake {
	20%,
	60% {
		transform: translateX(#{rem(8)});
	}

	40%,
	80% {
		transform: translateX(#{rem(-8)});
	}
}
