@mixin make-container {
  width: 100%;
  max-width: rem($grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-right: rem($wrapper-gutter-lg-1);
  padding-left: rem($wrapper-gutter-lg-1);

  @include media-breakpoint-down(md) {
    padding-right: rem($wrapper-gutter-md-1);
    padding-left: rem($wrapper-gutter-md-1);
  }

  @include media-breakpoint-down(sm) {
    padding-right: rem($wrapper-gutter-sm-1);
    padding-left: rem($wrapper-gutter-sm-1);
  }
}

/*
* Миксин который действует с разрешения 2150px
* $last-breakpoint-font-size  - самый высокий font-size для lg в файле src/base/_scale-html.scss
* $wrapper-rem                - превращаем в rem при font-size:16px (без добавления слово rem)
* $breakpoint                 - получем значение в px (тоесть rem($grid-max-width) - это и есть 2150px)
*/
@mixin media-container-up {
  $last-breakpoint-font-size: 21.5;
  $wrapper-rem: $grid-max-width / 16;
  $breakpoint: #{$last-breakpoint-font-size * $wrapper-rem}px;

  @media (min-width: $breakpoint) {
    @content;
  }
}
