// Grid breakpoints
$grid-breakpoints: (
  sm: 0,
  md: 640px,
  lg: 990px,
) !default;

$grid-max-width: 1600;

$wrapper-gutter-sm-1: 20;
$wrapper-gutter-md-1: 40;
$wrapper-gutter-lg-1: 120;

// Отступы от header
$indent-from-head-sm: 104;
$indent-from-head-md: 176;
$indent-from-head-lg: 192;
